* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  overflow-x: hidden;
}

.webgl {
  position: absolute;
  z-index: -1;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  left: 0;
  top: 0;
  background-image: url("models/bg.png");
}

.title {
  margin-top: 150vh;
}
.mainlogo {
  width: 15.91175rem;
  height: 2.75rem;
}

nav {
  padding-top: 3.5rem;
  padding-inline: 3.5rem;
  display: flex;
  justify-content: space-between;
}
li {
  font-size: 1.125rem;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
  color: rgba(255, 255, 255, 0.5);
}
.active {
  color: white !important;
}
.accent {
  background: linear-gradient(257deg, #db00ff 38.33%, #8a68eb 90.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-textarea {
  padding-left: 3.5rem;
  color: white;
  /* padding-top: 13rem; */
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
}
#hero-main-text {
  color: #fff;
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130.523%; /* 6.24063rem */
  letter-spacing: 0.11956rem;
  max-width: 45vw;
}

#hero-sub-text {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 44vw;
}

#hero-button-list {
  display: flex;
  gap: 1rem;
}

#hero-button {
  background: #8a68eb;
  border-radius: 0.3rem;
  border: none;
  padding: 0.7rem 1.7rem;
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#hero-button-empty {
  background: linear-gradient(to left, transparent 50%, #8a68eb 50%) right;
  background-size: 200%;
  border: 3px solid #8a68eb;
  border-radius: 0.3rem;
  padding: 0.7rem 1.7rem;
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#hero-button-empty:hover {
  background-position: left;
}

main {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}

.hero-arrow p {
  color: white;
  font-size: 1.5rem;
}

.hero-arrow {
  display: flex;
  justify-content: center;
  padding-bottom: 1.1rem;
}
